.jumbotron{
    background-color: #f4511e;
}
h2{
    text-transform: uppercase;
    color: #303030;;
}
h4{
    font-size: 25px;
}
p{
    font-size: 15px;
}
button{
    border-radius:6px;
    background-color:white !important;
    border-color:#ccc !important ;
    color: black !important;
}
.fa-signal, .fa-globe{ 
    font-size: 200px !important;
    color: #f4511e;
}
#colorchange{
    background-color: #f6f6f6;
}
.fa-power-off, .fa-heart, .fa-lock, .fa-leaf, .fa-certificate, .fa-wrench{
    font-size: 50px !important;
    color: #f4511e;
}
h5{
    text-transform: capitalize;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  
  .carousel-indicators li {
    border-color: #f4511e;
  }
  
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }
